[submodule "third-party/clangd-ascend"]
	path = third-party/clangd-ascend
	url = https://github.com/deepseek-ai/clangd-ascend.git
[submodule "third-party/deep_jit"]
	path = third-party/deep_jit
	url = https://github.com/deepseek-ai/DeepJIT.git
